<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id ="personBean" class="com.aop.Person">
           <property name="name" value="yunus"></property>
           <property name="id" value="1"></property>
           <property name="sureName" value="sarp"></property>
       </bean>

       <bean id="beforeBean" class="com.aop.BeforeMethod"></bean>
       <bean id="proxyBean" class="org.springframework.aop.framework.ProxyFactoryBean">
           <property name="target" ref="personBean"></property>
           <property name="interceptorNames">
               <list>
                   <value>beforeBean</value>
               </list>
           </property>
        </bean>
</beans>
